@font-face {
    font-family:'MyFont';
    src: url('MontserratAlternates-Bold.ttf') format('TrueType');
  }
body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color: #000000cc;


    
}

header {
    background-color: #fca07b;
    text-align: right;
    color: white;
    font-family: 'MyFont';
    font-size: xx-large;
    


}

header h1 {
    margin: 0;
    margin-right: 40px;
}

a{
    color: #ff4800;
}

a:visited{
    color: orange;
}

footer {
    background-color: #fca07b;
    color: white;
    width: 100%;
    padding: 10px;

    text-align: center;

}
button {
    background-color: #ad5a3a;
    color: white;
    border: 0;
    transition: background-color 0.3s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#h {
    height: 50px;
    width: 200px;
}

#hh {
    background-color: #865541;
    height: 50px;
    width: 200px;


}

h3{
    text-align: center;

}

h2 {
    text-align: center;

}

#n1 {
    height: 50px;
    width: 200px;
    
}

button:hover {
    background-color: #9c3107;
}
nav {
    position: absolute;
    list-style: none;
    padding: 0;
    text-align: left;
    gap: 10px; 
    top: -10px;
    
    
}


article {
    padding: 20px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

#pere {
    left: 30px; 
}

table {
    margin: auto;
    

}



.container {
    position: relative;
    display: inline-block;
}

.nose-area {
    position: absolute;
    top: 12%; /* Примерное местоположение носа */
    left: 45%; /* Примерное местоположение носа */
    width: 10px; /* Размер области */
    height: 10px; /* Размер области */
    cursor: pointer;
}
.media-container {
    display: none;
}


video {
    width: 900px; /* Размер видео, чтобы совпадал с размером изображения */
}
